<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <form cForm novalidate class="row g-3">
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilSearch"></svg>
              </span>
              <input
                [(ngModel)]="productFilter.name"
                name="name"
                autoComplete="name"
                cFormControl
                placeholder="Name"
              />
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilSearch"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.deliverable"
                name="deliverable"
                cFormControl
                cSelect
                placeholder="Deliverable"
              >
                <option [value]="null" [defaultSelected]="true">
                  Deliverable
                </option>
                <option [value]="true">YES</option>
                <option [value]="false">NO</option>
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilCog"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.transmission"
                name="transmission"
                cFormControl
                cSelect
                placeholder="Transmission"
              >
                <option [value]="null" [defaultSelected]="true">
                  Transmission
                </option>
                @for (item of transmissionEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilCog"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.engineType"
                name="engineType"
                cFormControl
                cSelect
                placeholder="Engine"
              >
                <option [value]="null" [defaultSelected]="true">Engine</option>
                @for (item of engineTypeEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilDescription"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.brand"
                name="brand"
                cFormControl
                cSelect
                placeholder="Brand"
              >
                <option [value]="null" [defaultSelected]="true">Brand</option>
                @for (item of vehicleBrandEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilOptions"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.status"
                name="status"
                cFormControl
                cSelect
                placeholder="Status"
              >
                <option [value]="null" [defaultSelected]="true">Status</option>
                @for (item of productStatusEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>

          <c-col [md]="12" class="text-end">
            <div class="d-flex justify-content-between">
              <div>
                <button
                  cButton
                  color="success"
                  (click)="isAddEditModalVisible = true"
                >
                  Add Product
                </button>
              </div>
              <div>
                <button
                  cButton
                  class="me-1"
                  color="secondary"
                  type="reset"
                  (click)="resetFilter()"
                >
                  Reset
                </button>
                <button
                  cButton
                  color="primary"
                  [disabled]="loadings.product"
                  (click)="filter()"
                >
                  <c-spinner
                    *ngIf="loadings.product"
                    aria-hidden="true"
                    size="sm"
                    variant="grow"
                  ></c-spinner>
                  Filter
                </button>
              </div>
            </div>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-row>
      <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-4 border"
      >
        <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary">Name</th>
            <th class="bg-body-tertiary">Price</th>
            <th class="bg-body-tertiary text-center">Quantity</th>
            <th class="bg-body-tertiary text-center">Available</th>
            <th class="bg-body-tertiary text-center">Transmission</th>
            <th class="bg-body-tertiary text-center">Engine</th>
            <th class="bg-body-tertiary text-center">Seat</th>
            <th class="bg-body-tertiary text-center">Deliverable</th>
            <th class="bg-body-tertiary text-center">Brand</th>
            <th class="bg-body-tertiary text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          @if (!loadings.product && dataPagination.list != null &&
          dataPagination.total > 0) { @for (data of dataPagination.list; track
          data.id) {
          <tr class="pointer" (click)="selectProduct(data)">
            <td>
              <div class="text-nowrap">
                {{ data.name }}
              </div>
            </td>
            <td>
              <div class="small text-body-secondary text-nowrap">
                {{ data.price | currency : 'IDR' : 'symbol' : '1.0-0' : 'id' }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.quantity }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.available }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.transmission }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.engineType }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.seat }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.deliverable ? 'Yes' : 'No' }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.brand }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.status }}
              </div>
            </td>
          </tr>
          } } @else if (!loadings.product && dataPagination.total == 0) {
          <tr class="pointer">
            <td class="text-center" colspan="10">
              <div class="small text-body-secondary text-nowrap">
                No data record.
              </div>
            </td>
          </tr>
          } @if (loadings.product) {
          <tr>
            <td
              class="text-center"
              colSpan="10"
              [style.height]="pagination.pageSize * 2.5 + 'rem'"
            >
              <c-spinner variant="grow"></c-spinner>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </c-row>

    <app-x-pagination
      [pagination]="pagination"
      [dataPagination]="dataPagination"
      (paginationChange)="paginationChange($event)"
    ></app-x-pagination>
  </c-col>
</c-row>

<c-modal
  #addEditProductModal
  id="addEditProductModal"
  scrollable
  alignment="center"
  [visible]="isAddEditModalVisible"
  (visibleChange)="addEditModalVisibleChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Add/Edit Product</h5>
    <button (click)="toogleAddEditModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-create-edit
      [requestModel]="addEditRequestModel"
      (requestChange)="requestChange($event)"
    ></app-create-edit>
  </c-modal-body>
  <c-modal-footer class="d-flex justify-content-between">
    <div>
      @if (addEditRequestModel.id) {
      <button
        cButton
        color="danger"
        [cPopoverTrigger]="'click'"
        [cPopover]="deleteConfirmationPopup"
        [cPopoverOptions]="{ strategy: 'fixed',  }"
      >
        @if (loadings.productDeleting) {
        <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
        } @else {
        <svg [cIcon]="icons.cilTrash"></svg>
        } Delete
      </button>
      <ng-template #deleteConfirmationPopup>
        <h3 class="popover-header">Delete Confirmation</h3>
        <div class="popover-body" id="">
          <span>
            Are you sure want to delete this product? Click confirm to delete.
          </span>
          <div class="mt-3 d-flex justify-content-end">
            <button cButton color="danger" (click)="doDeleteProduct()">
              @if (loadings.productDeleting) {
              <c-spinner
                aria-hidden="true"
                size="sm"
                variant="grow"
              ></c-spinner>
              } Confirm
            </button>
          </div>
        </div>
      </ng-template>
      }
    </div>
    <div>
      <button
        (click)="toogleAddEditModal()"
        cButton
        color="secondary"
        class="mx-3"
      >
        Close
      </button>
      <button
        cButton
        color="primary"
        (click)="saveProduct()"
        [disabled]="!addEditRequestModel.isValid() || loadings.productRegister"
      >
        @if (loadings.productRegister || loadings.productDeleting) {
        <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
        } Save changes
      </button>
    </div>
  </c-modal-footer>
</c-modal>
