<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <form cForm novalidate class="row g-3">
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilSearch"></svg>
              </span>
              <input
                [(ngModel)]="productFilter.name"
                name="name"
                autoComplete="name"
                cFormControl
                placeholder="Name"
              />
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilSearch"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.deliverable"
                name="deliverable"
                cFormControl
                cSelect
                placeholder="Deliverable"
              >
                <option [value]="null" [defaultSelected]="true">
                  Deliverable
                </option>
                <option [value]="true">YES</option>
                <option [value]="false">NO</option>
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilCog"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.transmission"
                name="transmission"
                cFormControl
                cSelect
                placeholder="Transmission"
              >
                <option [value]="null" [defaultSelected]="true">
                  Transmission
                </option>
                @for (item of transmissionEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilCog"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.engineType"
                name="engineType"
                cFormControl
                cSelect
                placeholder="Engine"
              >
                <option [value]="null" [defaultSelected]="true">Engine</option>
                @for (item of engineTypeEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilDescription"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.brand"
                name="brand"
                cFormControl
                cSelect
                placeholder="Brand"
              >
                <option [value]="null" [defaultSelected]="true">Brand</option>
                @for (item of vehicleBrandEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilOptions"></svg>
              </span>
              <select
                [(ngModel)]="productFilter.status"
                name="status"
                cFormControl
                cSelect
                placeholder="Status"
              >
                <option [value]="null" [defaultSelected]="true">Status</option>
                @for (item of productStatusEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>

          <c-col [md]="12" class="text-end">
            <button
              cButton
              class="me-1"
              color="secondary"
              type="reset"
              (click)="resetFilter()"
            >
              Reset
            </button>
            <button
              cButton
              color="primary"
              [disabled]="loadings.product"
              (click)="filter()"
            >
              <c-spinner
                *ngIf="loadings.product"
                aria-hidden="true"
                size="sm"
                variant="grow"
              ></c-spinner>
              Filter
            </button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-row>
      <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-4 border"
      >
        <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary">Name</th>
            <th class="bg-body-tertiary">Price</th>
            <th class="bg-body-tertiary text-center">Transmission</th>
            <th class="bg-body-tertiary text-center">Engine</th>
            <th class="bg-body-tertiary text-center">Seat</th>
            <th class="bg-body-tertiary text-center">Deliverable</th>
            <th class="bg-body-tertiary text-center">Brand</th>
            <th class="bg-body-tertiary text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          @if (!loadings.product && dataPagination.list != null &&
          dataPagination.total > 0) { @for (data of dataPagination.list; track
          data.id) {
          <tr class="pointer">
            <td>
              <div class="text-nowrap">
                {{ data.name }}
              </div>
            </td>
            <td>
              <div class="small text-body-secondary text-nowrap">
                {{ data.price | currency : 'IDR' : 'symbol' : '1.0-0' : 'id' }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.transmission }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.engineType }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.seat }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.deliverable ? 'Yes' : 'No' }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.brand }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.status }}
              </div>
            </td>
          </tr>
          } } @else if (!loadings.product && dataPagination.total == 0) {
          <tr class="pointer">
            <td class="text-center" colspan="8">
              <div class="small text-body-secondary text-nowrap">
                No data record.
              </div>
            </td>
          </tr>
          } @if (loadings.product) {
          <tr>
            <td class="text-center" colspan="8">
              <c-spinner variant="grow"></c-spinner>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </c-row>

    <c-row>
      <c-col [md]="3">
        <select
          cFormControl
          cSelect
          [(ngModel)]="pagination.pageSize"
          name="pageSize"
          sizing="sm"
          (ngModelChange)="
            pagination.pageSize = $event;
            pagination.pageNumber = 1;
            doGetProductList()
          "
        >
          <option [value]="5" [defaultSelected]="true">5 rows/page</option>
          <option [value]="10">10 rows/page</option>
          <option [value]="20">20 rows/page</option>
          <option [value]="50">50 rows/page</option>
        </select>
      </c-col>

      <c-col [md]="9">
        <c-pagination align="end" size="sm">
          <li
            cPageItem
            [disabled]="dataPagination.isFirstPage"
            (click)="
              pagination.pageNumber = dataPagination.navigateFirstPage;
              doGetProductList()
            "
          >
            <a cPageLink aria-label="First" [routerLink]
              ><svg [cIcon]="icons.cilChevronDoubleLeft"></svg>
            </a>
          </li>
          <li
            cPageItem
            [disabled]="dataPagination.isFirstPage"
            (click)="
              pagination.pageNumber = dataPagination.prePage; doGetProductList()
            "
          >
            <a cPageLink aria-label="Previous" [routerLink]
              ><svg size="sm" [cIcon]="icons.cilChevronLeft"></svg>
            </a>
          </li>
          @for (item of dataPagination.navigatepageNums; track $index) {
          <li
            cPageItem
            [active]="pagination.pageNumber == item"
            (click)="pagination.pageNumber = item; doGetProductList()"
          >
            <a cPageLink [routerLink]>{{ item }}</a>
          </li>
          }
          <li
            cPageItem
            [disabled]="dataPagination.isLastPage"
            (click)="
              pagination.pageNumber = dataPagination.nextPage;
              doGetProductList()
            "
          >
            <a cPageLink aria-label="Next" [routerLink]
              ><svg size="sm" [cIcon]="icons.cilChevronRight"></svg>
            </a>
          </li>
          <li
            cPageItem
            [disabled]="dataPagination.isLastPage"
            (click)="
              pagination.pageNumber = dataPagination.navigateLastPage;
              doGetProductList()
            "
          >
            <a cPageLink aria-label="Last" [routerLink]
              ><svg [cIcon]="icons.cilChevronDoubleRight"></svg>
            </a>
          </li>
        </c-pagination>
      </c-col>
    </c-row>
  </c-col>
</c-row>

<ng-template #spinner>
  <app-x-spinner></app-x-spinner>
</ng-template>
