<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <form cForm novalidate class="row g-3">
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilSearch"></svg>
              </span>
              <input
                [(ngModel)]="vehicleFilter.productId"
                name="productId"
                autoComplete="productId"
                cFormControl
                placeholder="Product ID"
              />
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilSearch"></svg>
              </span>
              <input
                [(ngModel)]="vehicleFilter.year"
                name="year"
                autoComplete="year"
                cFormControl
                placeholder="Year"
              />
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilSearch"></svg>
              </span>
              <input
                [(ngModel)]="vehicleFilter.licenseNumber"
                name="licenseNumber"
                autoComplete="licenseNumber"
                cFormControl
                placeholder="License Number"
              />
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilCog"></svg>
              </span>
              <select
                [(ngModel)]="vehicleFilter.transmission"
                name="transmission"
                cFormControl
                cSelect
                placeholder="Transmission"
              >
                <option [value]="null" [defaultSelected]="true">
                  Transmission
                </option>
                @for (item of transmissionEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilCog"></svg>
              </span>
              <select
                [(ngModel)]="vehicleFilter.engineType"
                name="engineType"
                cFormControl
                cSelect
                placeholder="Engine"
              >
                <option [value]="null" [defaultSelected]="true">Engine</option>
                @for (item of engineTypeEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>
          <c-col [md]="3">
            <c-input-group>
              <span cInputGroupText>
                <svg [cIcon]="icons.cilDescription"></svg>
              </span>
              <select
                [(ngModel)]="vehicleFilter.brand"
                name="brand"
                cFormControl
                cSelect
                placeholder="Brand"
              >
                <option [value]="null" [defaultSelected]="true">Brand</option>
                @for (item of vehicleBrandEnumList; track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </c-input-group>
          </c-col>

          <c-col [md]="12" class="text-end">
            <div class="d-flex justify-content-between">
              <div>
                <button
                  cButton
                  color="success"
                  (click)="isAddEditModalVisible = true"
                  [hidden]="!utils.isTenantManager()"
                >
                  Add Vehicle
                </button>
              </div>
              <div>
                <button
                  cButton
                  class="me-1"
                  color="secondary"
                  type="reset"
                  (click)="resetFilter()"
                >
                  Reset
                </button>
                <button
                  cButton
                  color="primary"
                  [disabled]="loadings.vehicle"
                  (click)="filter()"
                >
                  <c-spinner
                    *ngIf="loadings.vehicle"
                    aria-hidden="true"
                    size="sm"
                    variant="grow"
                  ></c-spinner>
                  Filter
                </button>
              </div>
            </div>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-row>
      <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-4 border"
      >
        <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary">Product ID</th>
            <th class="bg-body-tertiary">Name</th>
            <th class="bg-body-tertiary text-center">Status</th>
            <th class="bg-body-tertiary text-center">Year</th>
            <th class="bg-body-tertiary text-center">License Number</th>
            <th class="bg-body-tertiary text-center">Transmission</th>
            <th class="bg-body-tertiary text-center">Engine</th>
            <th class="bg-body-tertiary text-center">Brand</th>
            <th class="bg-body-tertiary text-center">Register Date</th>
          </tr>
        </thead>
        <tbody>
          @if (!loadings.vehicle && dataPagination.list != null &&
          dataPagination.total > 0) { @for (data of dataPagination.list; track
          data.id) {
          <tr class="pointer" (click)="selectVehicle(data)">
            <td>
              <div class="small text-body-secondary text-nowrap">
                {{ data.productId }}
              </div>
            </td>
            <td>
              <div class="small text-body-secondary text-nowrap">
                {{ data.productName }}
              </div>
            </td>
            <td class="text-center">
              <c-badge [color]="getVehicleStatusColor(data.status)">{{
                data.status == 'AVAILABLE' ? 'AVAILABLE' : 'NOT AVAILABLE'
              }}</c-badge>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.year }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.licenseNumber }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.transmission }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.engineType }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.brand }}
              </div>
            </td>
            <td class="text-center">
              <div class="small text-body-secondary text-nowrap">
                {{ data.createdDate | date : 'MMMM dd, yyyy' }}
              </div>
            </td>
          </tr>
          } } @else if (!loadings.vehicle && dataPagination.total == 0) {
          <tr class="pointer">
            <td class="text-center" colspan="10">
              <div class="small text-body-secondary text-nowrap">
                No data record.
              </div>
            </td>
          </tr>
          } @if (loadings.vehicle) {
          <tr>
            <td class="text-center" colspan="10">
              <c-spinner variant="grow"></c-spinner>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </c-row>

    <app-x-pagination
      [pagination]="pagination"
      [dataPagination]="dataPagination"
      (paginationChange)="paginationChange($event)"
    ></app-x-pagination>
  </c-col>
</c-row>

<c-modal
  #addEditVehicleModal
  id="addEditVehicleModal"
  scrollable
  alignment="center"
  backdrop="static"
  [visible]="isAddEditModalVisible"
  (visibleChange)="addEditModalVisibleChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Add/Edit Vehicle</h5>
    <button (click)="toogleAddEditModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-create-edit
      [requestModel]="addEditRequestModel"
      (requestChange)="requestChange($event)"
    ></app-create-edit>
  </c-modal-body>
  <c-modal-footer class="d-flex justify-content-between">
    <div>
      @if (addEditRequestModel.id) {
      <button
        cButton
        color="danger"
        [cPopoverTrigger]="'click'"
        [cPopover]="deleteConfirmationPopup"
        [cPopoverOptions]="{ strategy: 'fixed',  }"
      >
        @if (loadings.vehicleDeleting) {
        <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
        } @else {
        <svg [cIcon]="icons.cilTrash"></svg>
        } Delete
      </button>
      }
    </div>
    <div>
      <button
        (click)="toogleAddEditModal()"
        cButton
        color="secondary"
        class="mx-3"
      >
        Close
      </button>
      <button
        cButton
        color="primary"
        (click)="saveVehicle()"
        [disabled]="!addEditRequestModel.isValid() || loadings.vehicleRegister"
      >
        @if (loadings.vehicleRegister || loadings.vehicleDeleting) {
        <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
        } Save changes
      </button>
    </div>
  </c-modal-footer>
</c-modal>

<ng-template #deleteConfirmationPopup>
  <h3 class="popover-header">Delete Confirmation</h3>
  <div class="popover-body" id="">
    <span>
      Are you sure want to delete this vehicle? Click confirm to delete.
    </span>
    <div class="mt-3 d-flex justify-content-end">
      <button cButton color="danger" (click)="doDeleteVehicle()">
        @if (loadings.vehicleDeleting) {
        <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
        } Confirm
      </button>
    </div>
  </div>
</ng-template>
